@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";

/* ------------------------------
   THEME CONFIG (Tailwind v4)
--------------------------------*/
@theme {
  /* Fonts sizes */
  --text-2xs: 0.75rem;
  --text-xs: 0.8125rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;

  /* Colors */
  --color-dark: #0b1120;
  --color-lighter-dark: #0f172a;
  /* Root */

  --shiki-color-text: var(--color-white);
  --shiki-token-constant: var(--color-emerald-300);
  --shiki-token-string: var(--color-emerald-300);
  --shiki-token-string-expression: var(--color-emerald-300);
  --shiki-token-comment: var(--color-zinc-500);
  --shiki-token-keyword: var(--color-sky-300);
  --shiki-token-parameter: var(--color-pink-300);
  --shiki-token-function: var(--color-violet-300);
  --shiki-token-punctuation: var(--color-zinc-200);

  /* Shadows */
  --shadow-glow: 0 0 4px rgb(0 0 0 / 0.1);

  /* Max widths */
  --max-width-lg: 33rem;
  --max-width-2xl: 40rem;
  --max-width-3xl: 50rem;
  --max-width-5xl: 66rem;

  /* Opacity */
  --opacity-1: 0.01;
  --opacity-2-5: 0.025;
  --opacity-7-5: 0.075;
  --opacity-15: 0.15;

  /* Background images */
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

@layer components {
  .readMore {
    @apply inline-flex justify-center gap-0.5 overflow-hidden text-sm font-medium text-emerald-500 transition hover:text-emerald-600 dark:text-emerald-400 dark:hover:text-emerald-500;
  }

  .buttonDark {
    @apply inline-flex justify-center gap-0.5 overflow-hidden rounded-full bg-zinc-900 px-3 py-1 text-sm font-medium text-white transition hover:bg-zinc-700 dark:bg-emerald-400/10 dark:text-emerald-400 dark:ring-1 dark:ring-inset dark:ring-emerald-400/20 dark:hover:bg-emerald-400/10 dark:hover:text-emerald-300 dark:hover:ring-emerald-300;
  }

  .buttonLight {
    @apply inline-flex justify-center gap-0.5 overflow-hidden rounded-full px-3 py-1 text-sm font-medium text-zinc-700 ring-1 ring-inset ring-zinc-900/10 transition hover:bg-zinc-900/2.5 hover:text-zinc-900 dark:text-zinc-400 dark:ring-white/10 dark:hover:bg-white/5 dark:hover:text-white;
  }

  .linkGreen {
    @apply inline-flex justify-center gap-0.5 overflow-hidden text-sm font-medium text-emerald-500 transition hover:text-emerald-600 dark:text-emerald-400 dark:hover:text-emerald-500;
  }
}
